@model WebSpaceApp.Models.CreateTaskViewModel
@{
    ViewData["Title"] = "CreateTask";
}

<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="~/images/image5.jpg" alt="Task Banner" />
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>CREATE TASK</h2>
            @if (ViewBag.ProjectId != null)
            {
                <p class="text-muted">Creating task for Project ID: @ViewBag.ProjectId</p>
            }
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                @using (Html.BeginForm("CreateTask", "Task", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="contact_form-container">
                        <div>
                            @* Hidden field to store ProjectId - user won't see this *@
                            @Html.HiddenFor(m => m.ProjectId)

                            @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", placeholder = "Task Name" })
                            @Html.ValidationMessageFor(m => m.TaskName)

                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Description" })
                            @Html.ValidationMessageFor(m => m.Description)

                            @Html.TextBoxFor(m => m.Startdate, new { @class = "form-control", type = "datetime-local", placeholder = "Start Time" })
                            @Html.ValidationMessageFor(m => m.Startdate)

                            @Html.TextBoxFor(m => m.Enddate, new { @class = "form-control", type = "datetime-local", placeholder = "Deadline" })
                            @Html.ValidationMessageFor(m => m.Enddate)

                            @Html.TextBoxFor(m => m.Priority, new { @class = "form-control", placeholder = "Priority" })
                            @Html.ValidationMessageFor(m => m.Priority)

                            <div class="form-group">
                                @Html.LabelFor(m => m.UserId, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", placeholder = "AssignTo" })
                                @* @Html.DropDownListFor(
                                m => m.AssignedTo,
                                                        Model.Users,
                                                        "Select a user", // Optional: A default option
                                                        new { @class = "form-control" }
                                                        ) *@
                            @Html.ValidationMessageFor(m => m.UserId)
                        </div>

                            <div class="btn-box">
                                <button type="submit" class="btn btn-primary">CREATE</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>